.frame {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  height: 400px;
  margin-top: -200px;
  margin-left: -200px;
  font-family: "Courier New", "Courier", sans-serif;
  background: linear-gradient(to top right, #43389f 0%, #4ec6ca 100%);
  border-radius: 3px;
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.number {
  position: relative;
  width: 200px;
  height: 100px;
}

.number .one-one {
  position: absolute;
  z-index: -1;
  top: 0;
  left: -16px;
  height: 40px;
  width: 20px;
  border-radius: 3px;
  transform: rotate(50deg);
  box-shadow: 0 0 13px 0 rgba(0, 0, 0, 0.2);
  background: #fff;
}

.number .one-two {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  height: 100px;
  width: 20px;
  border-radius: 3px;
  background: #fff;
  box-shadow: 0 0 13px 0 rgba(0, 0, 0, 0.2);
}

.number .zero-one,
.zero-two {
  position: absolute;
  z-index: 8;
  top: 0;
  left: 17px;
  height: 100px;
  width: 100px;
  border-radius: 50%;
  border: 24px solid #fff;
  box-shadow: 0 0 13px 0 rgba(0, 0, 0, 0.2);
}

.number .zero-two {
  z-index: 6;
  left: 100px;
}

.big-text {
  position: relative;
  font-size: 82px;
  line-height: 60px;
  font-weight: 700;
  display: block;
  z-index: 20;
  text-transform: uppercase;
  color: #fff;
  margin-top: 6px;
}

.small-text {
  position: relative;
  font-size: 23px;
  line-height: 20px;
  font-weight: 700;
  display: block;
  z-index: 20;
  text-transform: uppercase;
  color: #fff;
}